// Mixins Here

.row-end-center() {
  display: flex;
  flex-direction: row-end;
  justify-content: center;
}

.links() {
  text-decoration: none;
  font-weight: 400;
}

// Parametric Mixin

.border-radius (@radius) {
  border-radius: @radius;
}
